.position {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-left: 9px;
  margin-top: 13px;
  list-style: none;
}
.position a {
  display: block;

  font-size: 13px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px black;
  text-decoration: none;
  text-align: center;
}

.position img {
  width: 100%;
  height: 70%;
  margin-bottom: 5px;
}

@media (max-width: 520px) {
  .position {
    width: 100%;
    margin: 0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .position li {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .position a {
    width: 50px;
  }
}
