.buttonStyle,
.buttonStyleCurrent,
.buttonStyleCity {
  background-color: rgba(86, 159, 163, 0.6);
  border-radius: 15px;
  color: white;
  text-shadow: 1px 1px 1px black;

  padding: 30px;
}
.buttonStyle {
  border: none;
  box-shadow: 2px 2px 2px rgb(170, 170, 170);
}
.buttonStyleCurrent {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
.buttonStyleCity {
  border: 1px solid white;
  margin-left: 15px;
}
@media (max-width: 520px) {
  .weatherInfo {
    padding: 50px;
  }
  .buttonStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .buttonStyleCity {
    margin-left: 0;
  }
}
