/** @format */

.fade {
  background-color: rgba(56, 56, 56, 0.7);
  color: rgb(255, 255, 255);
  position: absolute;
  left: calc(50% - (572px / 2));
  top: calc(50% - (142px / 2));
  padding: 15px 35px;
  width: 500px;
  height: 110px;
  border-radius: 12px;
  pointer-events: none;

  display: flex;
  align-items: center;
  border: 1px solid rgba(148, 148, 148, 0.7);
  z-index: 999;
}
.fade p {
  line-height: 1.8;
}
