/** @format */

.scroll {
  overflow: auto;
  height: 50%;
}
.addMemoCover {
  height: 50%;
  position: relative;
  z-index: 3;
  background-color: white;
}
.memoCover {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  height: 93.3%;
}
